/* Rawan.CSS 4.15 December 2021 by elhizazi1 */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:30px}h2{font-size:18px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.Rawan-serif{font-family:serif}.Rawan-sans-serif{font-family:sans-serif}.Rawan-cursive{font-family:cursive}.Rawan-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.Rawan-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.Rawan-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.Rawan-table,.Rawan-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.Rawan-table-all{border:1px solid #ccc}
.Rawan-bordered tr,.Rawan-table-all tr{border-bottom:1px solid #ddd}.Rawan-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.Rawan-table-all tr:nth-child(odd){background-color:#fff}.Rawan-table-all tr:nth-child(even){background-color:#f1f1f1}
.Rawan-hoverable tbody tr:hover,.Rawan-ul.Rawan-hoverable li:hover{background-color:#ccc}.Rawan-centered tr th,.Rawan-centered tr td{text-align:center}
.Rawan-table td,.Rawan-table th,.Rawan-table-all td,.Rawan-table-all th{padding:8px 8px;display:table-cell;text-align:right;vertical-align:top}
.Rawan-table th:first-child,.Rawan-table td:first-child,.Rawan-table-all th:first-child,.Rawan-table-all td:first-child{padding-right:16px}
.Rawan-btn,.Rawan-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.Rawan-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.Rawan-btn,.Rawan-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.Rawan-disabled,.Rawan-btn:disabled,.Rawan-button:disabled{cursor:not-allowed;opacity:0.3}.Rawan-disabled *,:disabled *{pointer-events:none}
.Rawan-btn.Rawan-disabled:hover,.Rawan-btn:disabled:hover{box-shadow:none}
.Rawan-badge,.Rawan-tag{background-color:#000;color:#fff;display:inline-block;padding-right:8px;padding-left:8px;text-align:center}.Rawan-badge{border-radius:50%}
.Rawan-ul{list-style-type:none;padding:0;margin:0}.Rawan-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.Rawan-ul li:last-child{border-bottom:none}
.Rawan-tooltip,.Rawan-display-container{position:relative}.Rawan-tooltip .Rawan-text{display:none}.Rawan-tooltip:hover .Rawan-text{display:inline-block}
.Rawan-ripple:active{opacity:0.5}.Rawan-ripple{transition:opacity 0s}
.Rawan-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.Rawan-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.Rawan-dropdown-click,.Rawan-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.Rawan-dropdown-hover:hover .Rawan-dropdown-content{display:block}
.Rawan-dropdown-hover:first-child,.Rawan-dropdown-click:hover{background-color:#ccc;color:#000}
.Rawan-dropdown-hover:hover > .Rawan-button:first-child,.Rawan-dropdown-click:hover > .Rawan-button:first-child{background-color:#ccc;color:#000}
.Rawan-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.Rawan-check,.Rawan-radio{width:24px;height:24px;position:relative;top:6px}
.Rawan-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.Rawan-bar-block .Rawan-dropdown-hover,.Rawan-bar-block .Rawan-dropdown-click{width:100%}
.Rawan-bar-block .Rawan-dropdown-hover .Rawan-dropdown-content,.Rawan-bar-block .Rawan-dropdown-click .Rawan-dropdown-content{min-width:100%}
.Rawan-bar-block .Rawan-dropdown-hover .Rawan-button,.Rawan-bar-block .Rawan-dropdown-click .Rawan-button{width:100%;text-align:right;padding:8px 16px}
.Rawan-main,#main{transition:margin-right .4s}
.Rawan-modal{z-index:3;display:none;padding-top:100px;position:fixed;right:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.Rawan-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.Rawan-bar{width:100%;overflow:hidden}.Rawan-center .Rawan-bar{display:inline-block;width:auto}
.Rawan-bar .Rawan-bar-item{padding:8px 16px;float:right;width:auto;border:none;display:block;outline:0}
.Rawan-bar .Rawan-dropdown-hover,.Rawan-bar .Rawan-dropdown-click{position:static;float:right}
.Rawan-bar .Rawan-button{white-space:normal}
.Rawan-bar-block .Rawan-bar-item{width:100%;display:block;padding:8px 16px;text-align:right;border:none;white-space:normal;float:none;outline:0}
.Rawan-bar-block.Rawan-center .Rawan-bar-item{text-align:center}.Rawan-block{display:block;width:100%}
.Rawan-responsive{display:block;overflow-x:auto}
.Rawan-container:after,.Rawan-container:before,.Rawan-panel:after,.Rawan-panel:before,.Rawan-row:after,.Rawan-row:before,.Rawan-row-padding:after,.Rawan-row-padding:before,
.Rawan-cell-row:before,.Rawan-cell-row:after,.Rawan-clear:after,.Rawan-clear:before,.Rawan-bar:before,.Rawan-bar:after{content:"";display:table;clear:both}
.Rawan-col,.Rawan-half,.Rawan-third,.Rawan-twothird,.Rawan-threequarter,.Rawan-quarter{float:right;width:100%}
.Rawan-col.s1{width:8.33333%}.Rawan-col.s2{width:16.66666%}.Rawan-col.s3{width:24.99999%}.Rawan-col.s4{width:33.33333%}
.Rawan-col.s5{width:41.66666%}.Rawan-col.s6{width:49.99999%}.Rawan-col.s7{width:58.33333%}.Rawan-col.s8{width:66.66666%}
.Rawan-col.s9{width:74.99999%}.Rawan-col.s10{width:83.33333%}.Rawan-col.s11{width:91.66666%}.Rawan-col.s12{width:99.99999%}
@media (min-width:601px){.Rawan-col.m1{width:8.33333%}.Rawan-col.m2{width:16.66666%}.Rawan-col.m3,.Rawan-quarter{width:24.99999%}.Rawan-col.m4,.Rawan-third{width:33.33333%}
.Rawan-col.m5{width:41.66666%}.Rawan-col.m6,.Rawan-half{width:49.99999%}.Rawan-col.m7{width:58.33333%}.Rawan-col.m8,.Rawan-twothird{width:66.66666%}
.Rawan-col.m9,.Rawan-threequarter{width:74.99999%}.Rawan-col.m10{width:83.33333%}.Rawan-col.m11{width:91.66666%}.Rawan-col.m12{width:99.99999%}}
@media (min-width:993px){.Rawan-col.l1{width:8.33333%}.Rawan-col.l2{width:16.66666%}.Rawan-col.l3{width:24.99999%}.Rawan-col.l4{width:33.33333%}
.Rawan-col.l5{width:41.66666%}.Rawan-col.l6{width:49.99999%}.Rawan-col.l7{width:58.33333%}.Rawan-col.l8{width:66.66666%}
.Rawan-col.l9{width:74.99999%}.Rawan-col.l10{width:83.33333%}.Rawan-col.l11{width:91.66666%}.Rawan-col.l12{width:99.99999%}}
.Rawan-rest{overflow:hidden}.Rawan-stretch{margin-right:-16px;margin-left:-16px}
.Rawan-content,.Rawan-auto{margin-right:auto;margin-left:auto}.Rawan-content{max-width:980px}.Rawan-auto{max-width:1140px}
.Rawan-cell-row{display:table;width:100%}.Rawan-cell{display:table-cell}
.Rawan-cell-top{vertical-align:top}.Rawan-cell-middle{vertical-align:middle}.Rawan-cell-bottom{vertical-align:bottom}
.Rawan-hide{display:none!important}.Rawan-show-block,.Rawan-show{display:block!important}.Rawan-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.Rawan-auto{max-width:95%}}
@media (max-width:600px){.Rawan-modal-content{margin:0 10px;width:auto!important}.Rawan-modal{padding-top:30px}
.Rawan-dropdown-hover.Rawan-mobile .Rawan-dropdown-content,.Rawan-dropdown-click.Rawan-mobile .Rawan-dropdown-content{position:relative}	
.Rawan-hide-small{display:none!important}.Rawan-mobile{display:block;width:100%!important}.Rawan-bar-item.Rawan-mobile,.Rawan-dropdown-hover.Rawan-mobile,.Rawan-dropdown-click.Rawan-mobile{text-align:center}
.Rawan-dropdown-hover.Rawan-mobile,.Rawan-dropdown-hover.Rawan-mobile .Rawan-btn,.Rawan-dropdown-hover.Rawan-mobile .Rawan-button,.Rawan-dropdown-click.Rawan-mobile,.Rawan-dropdown-click.Rawan-mobile .Rawan-btn,.Rawan-dropdown-click.Rawan-mobile .Rawan-button{width:100%}}
@media (max-width:768px){.Rawan-modal-content{width:500px}.Rawan-modal{padding-top:50px}}
@media (min-width:993px){.Rawan-modal-content{width:900px}.Rawan-hide-large{display:none!important}.Rawan-sidebar.Rawan-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.Rawan-hide-medium{display:none!important}}
@media (max-width:992px){.Rawan-sidebar.Rawan-collapse{display:none}.Rawan-main{margin-right:0!important;margin-left:0!important}.Rawan-auto{max-width:100%}}
.Rawan-top,.Rawan-bottom{position:fixed;width:100%;z-index:1}.Rawan-top{top:0}.Rawan-bottom{bottom:0}
.Rawan-overlay{position:fixed;display:none;width:100%;height:100%;top:0;right:0;left:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.Rawan-display-topleft{position:absolute;right:0;top:0}.Rawan-display-topright{position:absolute;left:0;top:0}
.Rawan-display-bottomleft{position:absolute;right:0;bottom:0}.Rawan-display-bottomright{position:absolute;right:0;bottom:0}
.Rawan-display-bottomtop{position:absolute;top:0;bottom:0}.Rawan-display-bottomdown{position:absolute;top:0;bottom:0}
.Rawan-display-middle{position:absolute;top:50%;right:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.Rawan-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.Rawan-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.Rawan-display-topmiddle{position:absolute;right:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.Rawan-display-bottommiddle{position:absolute;right:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.Rawan-display-container:hover .Rawan-display-hover{display:block}.Rawan-display-container:hover span.Rawan-display-hover{display:inline-block}.Rawan-display-hover{display:none}
.Rawan-display-position{position:absolute}
.Rawan-circle{border-radius:50%}
.Rawan-round-small{border-radius:2px}.Rawan-round,.Rawan-round-medium{border-radius:4px}.Rawan-round-large{border-radius:8px}.Rawan-round-xlarge{border-radius:16px}.Rawan-round-xxlarge{border-radius:32px}
.Rawan-row-padding,.Rawan-row-padding>.Rawan-half,.Rawan-row-padding>.Rawan-third,.Rawan-row-padding>.Rawan-twothird,.Rawan-row-padding>.Rawan-threequarter,.Rawan-row-padding>.Rawan-quarter,.Rawan-row-padding>.Rawan-col{padding:0 8px}
.Rawan-container,.Rawan-panel{padding:0.01em 16px}.Rawan-panel{margin-top:16px;margin-bottom:16px}
.Rawan-code,.Rawan-codespan{font-family:Consolas,"courier new";font-size:16px}
.Rawan-code{width:auto;background-color:#fff;padding:8px 12px;border-right:4px solid #4CAF50;word-wrap:break-word}
.Rawan-codespan{color:crimson;background-color:#f1f1f1;padding-right:4px;padding-left:4px;font-size:110%}
.Rawan-card,.Rawan-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.Rawan-card-4,.Rawan-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.Rawan-spin{animation:Rawan-spin 2s infinite linear}@keyframes Rawan-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.Rawan-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.Rawan-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.Rawan-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.Rawan-animate-right{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.Rawan-animate-left{position:relative;animation:animateright 0.4s}@keyframes animateright{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.Rawan-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.Rawan-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.Rawan-animate-input{transition:width 0.4s ease-in-out}.Rawan-animate-input:focus{width:100%!important}
.Rawan-opacity,.Rawan-hover-opacity:hover{opacity:0.60}.Rawan-opacity-off,.Rawan-hover-opacity-off:hover{opacity:1}
.Rawan-opacity-max{opacity:0.25}.Rawan-opacity-min{opacity:0.75}
.Rawan-greyscale-max,.Rawan-grayscale-max,.Rawan-hover-greyscale:hover,.Rawan-hover-grayscale:hover{filter:grayscale(100%)}
.Rawan-greyscale,.Rawan-grayscale{filter:grayscale(75%)}.Rawan-greyscale-min,.Rawan-grayscale-min{filter:grayscale(50%)}
.Rawan-sepia{filter:sepia(75%)}.Rawan-sepia-max,.Rawan-hover-sepia:hover{filter:sepia(100%)}.Rawan-sepia-min{filter:sepia(50%)}
.Rawan-tiny{font-size:10px!important}.Rawan-small{font-size:12px!important}.Rawan-medium{font-size:15px!important}.Rawan-large{font-size:18px!important}
.Rawan-xlarge{font-size:24px!important}.Rawan-xxlarge{font-size:36px!important}.Rawan-xxxlarge{font-size:48px!important}.Rawan-jumbo{font-size:64px!important}
.Rawan-right-align{text-align:right!important}.Rawan-left-align{text-align:left!important}.Rawan-justify{text-align:justify!important}.Rawan-center{text-align:center!important}
.Rawan-border-0{border:0!important}.Rawan-border{border:1px solid #ccc!important}
.Rawan-border-top{border-top:1px solid #ccc!important}.Rawan-border-bottom{border-bottom:1px solid #ccc!important}
.Rawan-border-right{border-right:1px solid #ccc!important}.Rawan-border-left{border-left:1px solid #ccc!important}
.Rawan-topbar{border-top:6px solid #ccc!important}.Rawan-bottombar{border-bottom:6px solid #ccc!important}
.Rawan-leftbar{border-right:6px solid #ccc!important}.Rawan-rightbar{border-left:6px solid #ccc!important}
.Rawan-section,.Rawan-code{margin-top:16px!important;margin-bottom:16px!important}
.Rawan-margin{margin:16px!important}.Rawan-margin-top{margin-top:16px!important}.Rawan-margin-bottom{margin-bottom:16px!important}
.Rawan-margin-right{margin-right:16px!important}.Rawan-margin-left{margin-left:16px!important}
.Rawan-padding-small{padding:4px 8px!important}.Rawan-padding{padding:8px 16px!important}.Rawan-padding-large{padding:12px 24px!important}
.Rawan-padding-16{padding-top:16px!important;padding-bottom:16px!important}.Rawan-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.Rawan-padding-32{padding-top:32px!important;padding-bottom:32px!important}.Rawan-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.Rawan-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.Rawan-padding-top-64{padding-top:64px!important}.Rawan-padding-top-48{padding-top:48px!important}
.Rawan-padding-top-32{padding-top:32px!important}.Rawan-padding-top-24{padding-top:24px!important}
.Rawan-right{float:right!important}.Rawan-left{float:left!important}
.Rawan-button:hover{color:#000!important;background-color:#ccc!important}
.Rawan-transparent,.Rawan-hover-none:hover{background-color:transparent!important}
.Rawan-hover-none:hover{box-shadow:none!important}
/* Colors */
.Rawan-amber,.Rawan-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.Rawan-aqua,.Rawan-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.Rawan-blue,.Rawan-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.Rawan-light-blue,.Rawan-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.Rawan-brown,.Rawan-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.Rawan-cyan,.Rawan-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.Rawan-blue-grey,.Rawan-hover-blue-grey:hover,.Rawan-blue-gray,.Rawan-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.Rawan-green,.Rawan-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.Rawan-light-green,.Rawan-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.Rawan-indigo,.Rawan-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.Rawan-khaki,.Rawan-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.Rawan-lime,.Rawan-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.Rawan-orange,.Rawan-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.Rawan-deep-orange,.Rawan-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.Rawan-pink,.Rawan-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.Rawan-purple,.Rawan-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.Rawan-deep-purple,.Rawan-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.Rawan-red,.Rawan-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.Rawan-sand,.Rawan-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.Rawan-teal,.Rawan-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.Rawan-yellow,.Rawan-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.Rawan-white,.Rawan-hover-white:hover{color:#000!important;background-color:#fff!important}
.Rawan-black,.Rawan-hover-black:hover{color:#fff!important;background-color:#000!important}
.Rawan-grey,.Rawan-hover-grey:hover,.Rawan-gray,.Rawan-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.Rawan-light-grey,.Rawan-hover-light-grey:hover,.Rawan-light-gray,.Rawan-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.Rawan-dark-grey,.Rawan-hover-dark-grey:hover,.Rawan-dark-gray,.Rawan-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.Rawan-pale-red,.Rawan-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.Rawan-pale-green,.Rawan-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.Rawan-pale-yellow,.Rawan-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.Rawan-pale-blue,.Rawan-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.Rawan-text-amber,.Rawan-hover-text-amber:hover{color:#ffc107!important}
.Rawan-text-aqua,.Rawan-hover-text-aqua:hover{color:#00ffff!important}
.Rawan-text-blue,.Rawan-hover-text-blue:hover{color:#2196F3!important}
.Rawan-text-light-blue,.Rawan-hover-text-light-blue:hover{color:#87CEEB!important}
.Rawan-text-brown,.Rawan-hover-text-brown:hover{color:#795548!important}
.Rawan-text-cyan,.Rawan-hover-text-cyan:hover{color:#00bcd4!important}
.Rawan-text-blue-grey,.Rawan-hover-text-blue-grey:hover,.Rawan-text-blue-gray,.Rawan-hover-text-blue-gray:hover{color:#607d8b!important}
.Rawan-text-green,.Rawan-hover-text-green:hover{color:#4CAF50!important}
.Rawan-text-light-green,.Rawan-hover-text-light-green:hover{color:#8bc34a!important}
.Rawan-text-indigo,.Rawan-hover-text-indigo:hover{color:#3f51b5!important}
.Rawan-text-khaki,.Rawan-hover-text-khaki:hover{color:#b4aa50!important}
.Rawan-text-lime,.Rawan-hover-text-lime:hover{color:#cddc39!important}
.Rawan-text-orange,.Rawan-hover-text-orange:hover{color:#ff9800!important}
.Rawan-text-deep-orange,.Rawan-hover-text-deep-orange:hover{color:#ff5722!important}
.Rawan-text-pink,.Rawan-hover-text-pink:hover{color:#e91e63!important}
.Rawan-text-purple,.Rawan-hover-text-purple:hover{color:#9c27b0!important}
.Rawan-text-deep-purple,.Rawan-hover-text-deep-purple:hover{color:#673ab7!important}
.Rawan-text-red,.Rawan-hover-text-red:hover{color:#f44336!important}
.Rawan-text-sand,.Rawan-hover-text-sand:hover{color:#fdf5e6!important}
.Rawan-text-teal,.Rawan-hover-text-teal:hover{color:#009688!important}
.Rawan-text-yellow,.Rawan-hover-text-yellow:hover{color:#d2be0e!important}
.Rawan-text-white,.Rawan-hover-text-white:hover{color:#fff!important}
.Rawan-text-black,.Rawan-hover-text-black:hover{color:#000!important}
.Rawan-text-grey,.Rawan-hover-text-grey:hover,.Rawan-text-gray,.Rawan-hover-text-gray:hover{color:#757575!important}
.Rawan-text-light-grey,.Rawan-hover-text-light-grey:hover,.Rawan-text-light-gray,.Rawan-hover-text-light-gray:hover{color:#f1f1f1!important}
.Rawan-text-dark-grey,.Rawan-hover-text-dark-grey:hover,.Rawan-text-dark-gray,.Rawan-hover-text-dark-gray:hover{color:#3a3a3a!important}
.Rawan-border-amber,.Rawan-hover-border-amber:hover{border-color:#ffc107!important}
.Rawan-border-aqua,.Rawan-hover-border-aqua:hover{border-color:#00ffff!important}
.Rawan-border-blue,.Rawan-hover-border-blue:hover{border-color:#2196F3!important}
.Rawan-border-light-blue,.Rawan-hover-border-light-blue:hover{border-color:#87CEEB!important}
.Rawan-border-brown,.Rawan-hover-border-brown:hover{border-color:#795548!important}
.Rawan-border-cyan,.Rawan-hover-border-cyan:hover{border-color:#00bcd4!important}
.Rawan-border-blue-grey,.Rawan-hover-border-blue-grey:hover,.Rawan-border-blue-gray,.Rawan-hover-border-blue-gray:hover{border-color:#607d8b!important}
.Rawan-border-green,.Rawan-hover-border-green:hover{border-color:#4CAF50!important}
.Rawan-border-light-green,.Rawan-hover-border-light-green:hover{border-color:#8bc34a!important}
.Rawan-border-indigo,.Rawan-hover-border-indigo:hover{border-color:#3f51b5!important}
.Rawan-border-khaki,.Rawan-hover-border-khaki:hover{border-color:#f0e68c!important}
.Rawan-border-lime,.Rawan-hover-border-lime:hover{border-color:#cddc39!important}
.Rawan-border-orange,.Rawan-hover-border-orange:hover{border-color:#ff9800!important}
.Rawan-border-deep-orange,.Rawan-hover-border-deep-orange:hover{border-color:#ff5722!important}
.Rawan-border-pink,.Rawan-hover-border-pink:hover{border-color:#e91e63!important}
.Rawan-border-purple,.Rawan-hover-border-purple:hover{border-color:#9c27b0!important}
.Rawan-border-deep-purple,.Rawan-hover-border-deep-purple:hover{border-color:#673ab7!important}
.Rawan-border-red,.Rawan-hover-border-red:hover{border-color:#f44336!important}
.Rawan-border-sand,.Rawan-hover-border-sand:hover{border-color:#fdf5e6!important}
.Rawan-border-teal,.Rawan-hover-border-teal:hover{border-color:#009688!important}
.Rawan-border-yellow,.Rawan-hover-border-yellow:hover{border-color:#ffeb3b!important}
.Rawan-border-white,.Rawan-hover-border-white:hover{border-color:#fff!important}
.Rawan-border-black,.Rawan-hover-border-black:hover{border-color:#000!important}
.Rawan-border-grey,.Rawan-hover-border-grey:hover,.Rawan-border-gray,.Rawan-hover-border-gray:hover{border-color:#9e9e9e!important}
.Rawan-border-light-grey,.Rawan-hover-border-light-grey:hover,.Rawan-border-light-gray,.Rawan-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.Rawan-border-dark-grey,.Rawan-hover-border-dark-grey:hover,.Rawan-border-dark-gray,.Rawan-hover-border-dark-gray:hover{border-color:#616161!important}
.Rawan-border-pale-red,.Rawan-hover-border-pale-red:hover{border-color:#ffe7e7!important}.Rawan-border-pale-green,.Rawan-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.Rawan-border-pale-yellow,.Rawan-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.Rawan-border-pale-blue,.Rawan-hover-border-pale-blue:hover{border-color:#e7ffff!important}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#notfound .notfound-bg>div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #eee;
}

#notfound .notfound-bg>div:nth-child(1) {
  left: 20%;
}

#notfound .notfound-bg>div:nth-child(2) {
  left: 40%
}

#notfound .notfound-bg>div:nth-child(3) {
  left: 60%
}

#notfound .notfound-bg>div:nth-child(4) {
  left: 80%
}

#notfound .notfound-bg>div:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -0.5px;
  -webkit-transform: translateY(-160px);
      -ms-transform: translateY(-160px);
          transform: translateY(-160px);
  height: 160px;
  width: 2px;
  background-color: #00ffc0;
}

@-webkit-keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
            transform: translateY(calc(100vh + 160px));
  }
}

@keyframes drop {
  90% {
    height: 20px;
  }
  100% {
    height: 160px;
    -webkit-transform: translateY(calc(100vh + 160px));
            transform: translateY(calc(100vh + 160px));
  }
}

#notfound .notfound-bg>div:nth-child(1):after {
  -webkit-animation: drop 3s infinite linear;
          animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#notfound .notfound-bg>div:nth-child(2):after {
  -webkit-animation: drop 2s infinite linear;
          animation: drop 2s infinite linear;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#notfound .notfound-bg>div:nth-child(3):after {
  -webkit-animation: drop 3s infinite linear;
          animation: drop 3s infinite linear;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#notfound .notfound-bg>div:nth-child(4):after {
  -webkit-animation: drop 2s infinite linear;
          animation: drop 2s infinite linear;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 210px;
  line-height: 210px;
}

.notfound .notfound-404 h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 188px;
  font-weight: 700;
  margin: 0px;
  text-shadow: 4px 4px 0px #00ffc0;
}

.notfound h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.notfound p {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: 'Lato', sans-serif;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
          box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #00ffc0;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
          box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
}

.notfound-social {
  margin-top: 35px;
}

.notfound-social>a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin: 0px 5px;
}

.notfound-social>a:hover {
  background-color: #00ffc0;
  -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
          box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #00ffc0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}